@using MuranoTest.Models
@model SearchResultsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MuranoTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container justify-content-center mt-5">

        <h1 class="display-4 m-3 text-center">Local search</h1>

        <form method="post">
            <div class="form-row justify-content-center mt-4">
                <div class="input-group col-md-4">
                    <input type="text" class="form-control border-info" name="TextRequest">
                    <div class="input-group-append">
                        <input class="btn btn-outline-info" type="submit" value="Search" />
                    </div>
                </div>
            </div>
        </form>
        @if (Model != null)
        {
        <div class="mx-1 my-4 text-left">
            @if (Model != null)
            @foreach (SearchResultItem item in Model.resultItems)
                    {
                        <div class="my-4 text-left p-3 shadow">
                            <p class="font-weight-bold">@item.Header</p>
                            <p class="">@item.Text</p>
                            <p><a href="@item.Url">@item.Link</a></p>
                        </div>
                    }
        </div>
        }

    </div>

</body>
</html>